body {
    font-family: 'Arial', sans-serif;
    /* background-color: #f8f8f8; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'KufamBold';
    src: url('Kufam-Medium.ttf');
}
.container {
    text-align: center;
}

.card {
    position: relative;
    display: inline-block;
}
#preview {
    width: 70%;
    height: auto;
}
#card-image {
    width: 70%;
    height: auto;
}
#loading {
    width: 70%;
    height: auto;
}

.name-display {
    position: absolute;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    bottom: -19%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-section {
    margin-top: 20px;
}

#name-input {
    font-size: 1.2em;
    padding: 5px;
}

button {
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
